.contact-table {
  margin: 0 auto;
  width: 650px;
  position: relative;
}

.contact-list {
  list-style: none;
}

#contact-form {
  width: 150px;
  margin-left: 25px;
}

#contact-form input {
  display: block;
}