.banner {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  text-align: center;
  background: #000000;
  color: #fff;
}

.doc-content-container {
  position: relative;
  padding-left: 25px;
  width: 75%;
  margin: 0 auto;
}

.doc-description {
  width: 50ch;
  float: left;
}

.doc-photo {
  float: right;
  width: 50%;
}

.doc-photo img {
  height: 500px;
  width: 700px;
}