@import url('https://fonts.googleapis.com/css?family=Ubuntu');

header {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 16px;
  padding: 4em 2em 3em;
  background-color: #f8f8f8;
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/ep_naturalwhite.png");

  width: 100%;
  margin: 0 auto;
  display: block;
}

header h1 {
  font-size: 2.625em;
  line-height: 1.3;
  margin: 0;
  font-weight: 300;
}

header span {
  display: block;
  font-size: 60%;
  color: #888888;
  padding: 0 0 0.6em 0.1em;
}

// @media all and (max-width: 600px) {
//   header {
//     display: none;
//   }
// }