.sidebar-nav {
  top: 0;
  left: 0;
  width: 240px;
  height: 100%;
  z-index: 2000;

  // background: #7F8080;
  position: fixed;
  transition: all 0s ease 0s !important;
}

.sidebar-nav h3 {
  color: #fff;
  font-size: 1.9em;
  padding: 20px;
  margin: 0;
  font-weight: 300;
  background: #4F5D66;

  display: block;
}

.close-button {
  font-size: 0px;
  padding: 15px 15px;
  cursor: pointer;
  position: absolute;
  // top: 82px;
  // right: 15px;
}

.sidebar {
  margin: 0px;
  padding: 0px;
  display: block;
  text-align: left;
}

.sidebar section {
  display: block;
  padding: 8px 16px;
  // text-align: left;
  border: none;
  outline: none;
  white-space: normal;
  float: none;
  text-decoration: none;
}

.router-link {
  // width: 100%;
  display: block;
  padding: 8px 16px;
  text-align: left;
  border: none;
  outline: none;
  white-space: normal;
  float: none;
  text-decoration: none;
}

.router-link:hover {
  color: #000!important;
  background-color: #fff!important;
}

.router-link a {
  text-decoration: none;
}
